.footer-container {
  background-color: var(--footer-bg);
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  overflow: hidden;
  cursor: default;
  .footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-family: "Roboto";
      margin-right: 15px;
      font-weight: 600;
      color: var(--primary-font-color);
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      text-decoration: none;
      font-family: "Roboto";
      color: var(--primary-yello);
      .primary {
        transition: 0.3s;
        &:hover {
          color: var(--primary-red);
        }
      }
      img {
        margin-right: 10px;
        height: 30px;
      }
    }
  }
}
