.qr-model-view-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  img {
    margin-bottom: 20px;
    max-width: 300px;
  }
  a {
    text-decoration: none;
    color: var(--primary-font-color);
    button {
      svg {
        fill: var(--primary-font-color);
      }
    }
  }
}
